<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" method="post">
  <label class="boxy" for="composeTitle">Title</label>
  <input class="boxy" type="text" name="composeTitle">

  <label class="boxy" for="composeText">Post</label>
  <textarea class="boxy" name="composeText" rows="8" cols="80"></textarea>

  <input class="btn btn-primary boxyButton" type="submit" name="publishBtn" value="Publish">
</form>

<%- include("partials/footer") -%>
